*{  margin:0;padding:0;
  font-family: 'Microsoft Yahei';
  }
li{list-style-type:none;}
a{text-decoration: none;}
body{background-color: #FFF;}


/*头部开始*/
#toubu .back{
	background: url(../img/hy/jd2015img.png) no-repeat 0 -130px;
	float: left;
    font-size: 12px;
    position: absolute;
    left: 73px;
    /* width: 101px; */
    line-height: 41px;
    /* height: 32px; */
    margin-top: -8px;
}
#toubu .back a{
	margin-left: 18px;
}
#toubu .back a:hover{
	color: red;
}
/*搜索开始*/

#s_S .seckill{
  right: 71px;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  width: 41px;
  background-color: #fff;
  height: 100%;
  line-height: 67px;
  color: #333;
}

#s_S .s_x span{
  font-weight: 700;
font-size: 12px;
float: left;
padding: 5px;

}

/*京东秒杀*/
#miao{
    width: 100%;
    overflow: hidden; 
}
#miao .miao_e.fixed{
	position: fixed;
	top: 0;
}
#miao .miao_e{
	height: 44px;
	background: #fff;
    border-bottom: 2px solid #d8312b;
    	position: relative;
	z-index: 5;
	width: 100%;
}
#miao .zhong{
	width: 1210px;
	margin: 0 auto;
}
#miao .zhong .left{
	    float: left;
    overflow: hidden;
}
#miao .zhong .left li{
	    float: left;
    font-size: 20px;
    line-height: 44px;
    padding: 0 12px;
}
#miao .zhong .left li.on{
	background: #d8312b;
}
#miao .zhong .left li.on a{
	color: #fff;
}
#miao .zhong .left li a{
	color: #333;
	font-weight: 700;
}
#miao .zhong .right{
	    line-height: 50px;
    position: relative;
    width: 970px;
    float: left;
    height: 44px;
}
#miao .zhong .right i{
	    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d3d3d3;
    float: left;
    margin-top: 18px;
}
#miao .zhong .right li{
	    float: left;
    font-size: 14px;
    line-height: 44px;
    width: 88px;
    text-align: center;
}
#miao .zhong .right li a:hover{
	color: darkred;
}
#miao .zhong .right .yin{
	    position: absolute;
    width: 425px;
    border-top: 4px solid #fff;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    padding-right: 0;
    top: 156px;
    opacity: 0;
}
#miao .zhong .right .yin a{
	    font-size: 14px;
    display: inline-block;
    float: left;
    width: 80px;
    line-height: 35px;
    margin-right: 5px;
}
/*秒杀开始*/

#miao .miao_1{
	    overflow: hidden;
    position: relative;
    width: 100%;
}
#miao .miao_1 .miao_1_bg{
	  background: url(../img/seckill/header_bgV2.png) no-repeat top;
    position: absolute;
    top: 0;
    width: 100%;
    height: 274px;
}
#miao .miao_1 .sha_1{
	    z-index: 3;
    position: relative;
	width: 1190px;
	margin: 0 auto;
}
#miao .miao_1 .sha_1 i{
	display: block;
	width: 656px;
    height: 90px;
    margin: 0 auto;
	background: url(../img/seckill/header_textV2.png) no-repeat;
}
#miao .miao_1 .now_1.fixed{
    position: fixed;
    top: 46px;
        left: 70px;
    width: 1210px;
    background-color: #fff;
    box-shadow: 1px 0px 6px 1px #E1DEDE;
	
}
#miao .miao_1 .now_1{
	width: 1190px;
	margin: 0 auto;
	    z-index: 3;
    position: relative;
    overflow: hidden;
}
#miao .miao_1 .now_1 li{
	float: left;
	height: 60px;
    text-align: center;
    font-size: 18px;
    position: relative;
        margin-right: -61px;
}
#miao .miao_1 .now_1 li.on{
    /*transform: skew(-50deg,0deg);*/
}
#miao .miao_1 .now_1 li.on.on_1{
	margin-left: -60px;
}
#miao .miao_1 .now_1 li .jing_1 div{
	color: #fff;
}
#miao .miao_1 .now_1 li .jing_1 p{
	color: #fff;
}
#miao .miao_1 .now_1 li .jing_1 span{
	color: #fff;
}
#miao .miao_1 .now_1 li a .jinxing{
	margin: 0 60px;
	overflow: hidden;
    padding: 11px 20px;
    background: #fff;
	font-weight: 700;
}
#miao .miao_1 .now_1 li a .jinxing.show{
	    padding: 11px 28px;
}
#miao .miao_1 .now_1 li a .jing_1{
	background: #e01222;
}
#miao .miao_1 .now_1 li a .qian{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #fff transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
    zoom: 1;
}
#miao .miao_1 .now_1 li a .qian.qian_1{
    border-color: #e01222 transparent transparent;
}
#miao .miao_1 .now_1 li a .hou{
	    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent #fff;
    position: absolute;
    top: 0;
    zoom: 1;
    left: 0px;
}
#miao .miao_1 .now_1 li a .hou.hou_1{
    border-color: transparent transparent #e01222;
}
#miao .miao_1 .now_1 .jinxing .jin_1{
    margin-right: 10px;
    line-height: 38px;
    float: left;
}
#miao .miao_1 .now_1 .jinxing .jin_2{
	height: 60px;
	font-size: 14px;
	text-align: left;
	float: left;
}
#miao .miao_1 .now_1 .jinxing .jin_3{
	float: left;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 2px 10px;
    margin-top: 8px;

}
#miao .miao_1 .now_1 .jinxing .jin_1.xiao{
	    font-size: 15px;
    color: #333;
}

/*主开始*/
#miao .miao_1 .zhu_seckill{
	    width: 100%;
    min-height: 2475px;
    margin-top: 20px;
    overflow: hidden;
    background: #F6F6F6;
}
#miao .miao_1 .zhu_seckill .seckill{
    width: 1210px;
    margin: 0 auto;
    overflow: hidden;
}
#miao .miao_1 .zhu_seckill .seckill ul{
	overflow: hidden;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#miao .miao_1 .zhu_seckill .seckill .kill_1 li{
    width: 290px;
    /*background: darkblue;*/
    margin-bottom: 20px;
    height: 390px;
    position: relative;
    background: #fff;
    overflow: hidden;
}
#miao .zhu_seckill .seckill .kill_1 li a{
	display: block;
	    padding: 20px 20px 0;
}
#miao .zhu_seckill .seckill .kill_1 li h4{
	    color: #333;
    font-size: 14px;
    margin: 10px 0;
    font-weight: 400;
    height: 40px;
    overflow: hidden;
}
#miao .zhu_seckill .seckill .kill_1 li .hao{
    width: 30px;
    height: 40px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    overflow: hidden;
	background: url(../img/seckill/sprite.png) no-repeat;
	    background-position: 0 -289px;
}
#miao .zhu_seckill .kill_1 .liji{
	    overflow: hidden;
    text-align: left;
    height: 61px;
    display: block;
    border: 1px solid #e01222;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#miao .zhu_seckill .kill_1 .liji .text{
	padding: 10px 20px;
    position: relative;
    line-height: 1;
}
#miao .zhu_seckill .kill_1 .liji .text .price{
	  font-size: 28px;
    margin-right: 5px;
}
#miao .zhu_seckill .kill_1 .price .p_1{
	    font-size: 14px;
    color: #e01222;
}
#miao .zhu_seckill .kill_1 .price .p_2{
    color: #e01222;
}
#miao .zhu_seckill .kill_1 .price del{
	font-size: 14px;
}
#miao .zhu_seckill .kill_1 .juti{
	margin-top: 5px;
	font-size: 12px;
}
#miao .zhu_seckill .kill_1 .juti i{
	    width: 80px;
    height: 11px;
    background: #b8b8b8;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
}
#miao .zhu_seckill .kill_1 .juti i span{
    background: #e01222;
    width: 38%;
    position: absolute;
    left: 0;
    top: 0;
    height: 11px;
}
#miao .zhu_seckill .kill_1 .go{
	    color: #fff;
    line-height: 63px;
    font-size: 16px;
    text-align: center;
    background: #e01222;
        display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px 20px;
}
#miao .zhu_seckill .seckill .xia_m{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        margin-bottom: 20px;
}
#miao .zhu_seckill .seckill .qang{
	width: 590px;
	height: 405px;
	position: relative;
	cursor: pointer;
	transition: opacity 0.4s;
}
#miao .zhu_seckill .seckill .qang:hover{
	opacity:0.8;
}
#miao .zhu_seckill .seckill .qang .item_btn{
	    position: absolute;
    left: 335px;
    top: 121px;
    width: 116px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #673621;
    display: block;
    color: #673621;
    font-size: 18px;
    z-index: 2;
}
#miao .zhu_seckill .seckill .qang .item_btn:hover{
		background: #673621;
    color: #fff;
}
#miao .zhu_seckill .seckill .qang .qian_1{
	    padding: 0 20px 20px;
    width: 550px;
    height: 205px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
#miao .zhu_seckill .seckill .qang .qian_1 ul{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#miao .zhu_seckill .seckill .qang .qian_1 li{
	    width: 143px;
    height: 175px;
    overflow: hidden;
    padding: 15px 20px;
}
#miao .zhu_seckill .seckill .qang .miao{
	    margin-top: 10px;
}
#miao .zhu_seckill .seckill .qang .price{
	  font-size: 16px;
    margin-right: 5px;
}
#miao .zhu_seckill .seckill .qang .price .p_1{
	    font-size: 14px;
    color: #e01222;
}
#miao .zhu_seckill .seckill .qang .price del{
	font-size: 12px;
}
#miao .zhu_seckill .seckill .qiang_1{
	background: url(../img/seckill/5881f67fNc763731b.png);
}
#miao .zhu_seckill .seckill .qiang_2{
	background: url(../img/seckill/58a2706aNa23384f8.jpg);
}
/*更多好货开始*/
#miao .Geng{
	
}
.G_1{
	  background-image: url(../img/seckill/sprite.png);
    background-position: -325px -198px;
    background-repeat: no-repeat;
    width: 286px;
    height: 43px;
    margin: 0 auto;
    color: #333;
    font-size: 24px;
    line-height: 43px;
    text-align: center;
    font-weight: 400;
    margin: 40px auto 30px;
}
#miao .Geng ul{
	overflow: hidden;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#miao .Geng li{
	    width: 230px;
    margin-bottom: 20px;
    height: 320px;
    position: relative;
    background: #fff;
    overflow: hidden;
}
#miao .Geng li a{
	display: block;
	    padding: 10px;
}
#miao .Geng li h4{
	    color: #333;
    font-size: 14px;
    margin: 0px;
    font-weight: 400;
    height: 40px;
    overflow: hidden;
}
#miao .Geng .liji{
	    overflow: hidden;
    text-align: left;
    height: 52px;
    display: block;
    border: 1px solid #e01222;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#miao .Geng .liji .text{
	padding: 8px 5px;
    position: relative;
    line-height: 1;
}
#miao .Geng .liji .text .price{
    font-size: 18px;
    margin-right: 5px;
}
#miao .Geng .price .p_1{
	    font-size: 14px;
    color: #e01222;
}
#miao .Geng .price .p_2{
    color: #e01222;
}
#miao .Geng .price del{
	font-size: 14px;
}
#miao .Geng .juti{
	margin-top: 5px;
	font-size: 12px;
}
#miao .Geng .juti i{
	    width: 60px;
    height: 11px;
    background: #b8b8b8;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
}
#miao .Geng .juti i span{
    background: #e01222;
    width: 88%;
    position: absolute;
    left: 0;
    top: 0;
    height: 11px;
}
#miao .Geng .go{
	    color: #fff;
    line-height: 52px;
    font-size: 14px;
    text-align: center;
    background: #e01222;
        display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
      padding: 0px 13px;
}
#miao .tum{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 130px;
	text-align: center;
}
#miao .shuo{
	width: 1210px;
	margin: 0 auto;
	margin-top: 30px;
	/*background: darkblue;*/
	height: 100px;
	font-size: 12px;
}
#miao .shuo .jia{
	color: #e4393c;
}
#miao .shuo .hei{
	font-weight: 700;
}

/*左边固定*/
#Left{
	    width: 45px;
    position: fixed;
    left: 0px;
    bottom: 25%;
    z-index: 100;
}
#Left li.ziti{
	color: #666;
    font-size: 12px;
    text-align: center;
    position: relative;
    background: #fff;
}
#Left li a{
	    cursor: pointer;
    border-bottom: 1px solid #dcdcdc;
    width: 30px;
    padding: 10px 0;
    display: inline-block;
}
#Left li a.red{
	    font-weight: 700;
    color: #e01d22;
}
#Left li.ziti_1{
    background: #e01d22;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 4px;
}
#Left li.ziti_1 a{
	color: #fff;
}
#Left li.ziti_1 i{
	    background-image: url(../img/seckill/sprite.png);
    background-repeat: no-repeat;
	  background-position: -34px -289px;
    width: 22px;
    height: 30px;
    margin-top: 6px;
    display: inline-block;
}




/*结束*/
